@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* main.css */

/* Existing styles */

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Adjust styles for medium screens here */
}

/* Large screens (laptops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Adjust styles for large screens here */
}

/* Extra large screens (large laptops and desktops) */
@media (min-width: 1200px) {
  /* Adjust styles for extra-large screens here */
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
}

img {
  height: 60px;
  width: 70px;
  margin-left: 60px;
  margin-top: 5px;
}
.navbar {
  height: 70px; /* Adjust the height as needed */
  background-color: #454545;
  color: white;
}

.navbar .nav-link {
  font-size: 21px;
  margin-right: 100px;
  color: white;
}
.nav-link:hover {
  color: #3498db; /* Color on hover */
  transform: scale(1.1);
  font-weight: bold;
}
.navbar-toggler {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove any box shadow */
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove any box shadow */
}
.description {
  float: left;
  width: 40%;
  margin-left: 40px;
  margin-top: 150px;
}
.description1 {
  font-size: 20px;
}
.description2 {
  font-size: 18px;
  font-style: italic;
}

strong {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.image-container {
  float: right;
  width: 50%;
  margin-right: 70px;
  margin-top: 90px;
}
.button-hire-me {
  background-color: black;
  color: white;
  transition: background-color 0.9s ease; /* Add a smooth transition for the background color change */
  border-color: black;
  width: 100px;
  border-radius: 0em;
  height: 40px;
}

.button-hire-me:hover {
  background-color: #454545; /* Darker color on hover */
}
.button-resume {
  background-color: white;
  color: black;
  border-color: black;
  transition: background-color 0.9s ease;
  width: 100px;
  border-radius: 0em;
  height: 40px;
}
.button-resume:hover {
  background-color: #454545;
  color: white;
}
/* Optionally, add more styles to the image if needed */
.image-container img {
  width: 500px;
  height: 400px;
  margin-top: 20px;
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto;
  border: none;
}
.row.mb-3 {
  margin-bottom: 1rem;
}
h2 {
  font-size: 20px;
  margin-top: 30px;
}
.profile {
  float: left;
  width: 35%;
  margin-left: 70px;
}
.profile p {
  font-size: 19px;
  margin-top: 40px;
}
.carousel-content {
  text-align: left;
  padding: 20px; /* Adjust padding as needed */
}
.carousel {
  border: solid black; /* Add a border to the Carousel */
  border-radius: 2px; /* Optional: Add border-radius for rounded corners */
  overflow: hidden; /* Optional: Hide the overflowing content */
}
.skills {
  float: right;
  width: 50%;
  margin-right: 40px;
}

.skills-container {
  text-align: center;
  margin-top: 40px;
}

.skills-list {
  list-style: none;
  padding: 0;
  transform: translateY(20px); /* Move the skills list down initially */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.skills-list.animate {
  opacity: 1;
  transform: translateY(0);
}
.skill-item {
  margin-bottom: 15px;
}

.skill-name {
  display: inline-block;
  width: 500px;
  color: #e0e0e0;
  font-size: 19px;
  text-align: left;
  margin-left: 30px;
}

.skill-bar {
  display: inline-block;
  width: 500px;
  height: 30px;
  background-color: #e0e0e0;
  margin-left: 10px;
}

.skill-progress {
  height: 100%;
  background-color: black;
}

.skill-percentage {
  display: inline-block;
  margin-left: 10px;
}
.contact-form {
  float: left;
  width: 60%;
  margin-left: 10px;
}
.contact_form {
  margin-top: 30px;
}
.contact-info {
  float: right;
  width: 30%;
  margin-right: 110px;
  margin-top: 30px;
}

.submit-arrow {
  margin-left: 5px; /* Adjust the spacing between the text and arrow */
  font-size: 20px; /* Adjust the arrow size */
}
.contact-item {
  display: flex;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.contact-item span.info {
  margin-left: 10px;
  font-size: 20px; /* Adjust the font size as needed */
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Adjust margin as needed */
  margin-bottom: 70px;
  margin-top: 40px;
}

#footer {
  text-align: center;
  margin-top: 120px;
  padding: 10px;
  background-color: #454545;
  border-top: 2px solid; /* Add a border at the top of the footer */
  font-size: 20px;
  color: white;
  height: 70px;
}

.social-media-icons svg {
  margin: 0 20px; /* Adjust margin between icons */
}

#project {
  background-color: black;
  color: white;
  height: 570px;
  margin-top: 120px;
}
#homes-section {
  height: 500px;
}
#about {
  margin-top: 120px;
  height: 500px;
}
#contact {
  margin-top: 120px;
  height: 450px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
}
.project1 {
  float: left;
  width: 30%;
  margin-left: 5px;
}
.project2 {
  float: left;
  width: 30%;
  margin-left: 5px;
}
.project3 {
  float: left;
  width: 30%;
  margin-right: 5px;
  margin-left: 5px;
}
/* Add the following styles to your main.css file */

.project {
  position: relative;
}

.live-preview-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hide the button */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
  background-color: white;
  color: black;
}
.live-preview-button:hover {
  background-color: #454545;
  color: white;
}
.project:hover .live-preview-button {
  opacity: 1; /* Show the button on hover */
}
