@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* main.css */

/* Existing styles */

/* Medium screens (tablets) */

@media only screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
  }

  .navbar-dark .navbar-collapse {
    background-color: #333; /* Set the background color of the navbar when collapsed to black */
  }

  .navbar-dark .navbar-toggler {
    border-color: #fff; /* Set the border color of the toggler to white */
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Set the color of the links to white */
  }

  .home-main{
    flex-direction: column;
  }
 .description{
  margin-bottom: 10px;
 } 
.about-content{
  flex-direction: column;
} 
.contact-container{
  flex-direction: column;
}
#about{
  margin-top: 450px;
}
#project{
  margin-top: 1000px;
}
#contact{
  margin-top:850px;
}
#Footer{ 
  margin-top: 400px;
}

}


@media (min-width: 768px) and (max-width: 991.98px) {
  /* Adjust styles for medium screens here */
}

/* Large screens (laptops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Adjust styles for large screens here */
}

/* Extra large screens (large laptops and desktops) */
@media (min-width: 1200px) {
  
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
}
.navbar-brand h1{
  color: #3498db;
  font-size: 21px;
  margin-left: 60px;
}
.navbar {
  height: 65px; 
  background-color: #454545;
}
.navbar .nav-link {
  font-size: 20px;
  margin-right: 100px;
  color: white;
  cursor: pointer;
}
.nav-link:hover {
  color: #3498db; 
  transform: scale(1.1);
  font-weight: bold; 
}
.nav-link.active {
  color: red;
  font-weight: bold;
  font-size: 23px;
}
.navbar-toggler {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove any box shadow */
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none; /* Remove the outline */
  box-shadow: none; /* Remove any box shadow */
}

.description1 {
  font-size: 18px;
}
.description2 {
  font-size: 18px;
  margin-top: 30px;
}

strong {
  color: #3498db;
  font-weight: bold;
  font-size: 25px;
}

.button-hire-me {
  background-color: #3498db;
  color: white;
  transition: background-color 0.9s ease; /* Add a smooth transition for the background color change */
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 30px;
}

.button-hire-me:hover {
  background-color: lightenedColorhsl(207, 10%, 10%);
}
.button-resume {
  background-color: white;
  color: black;
  border-color: black;
  transition: background-color 0.9s ease;
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 30px;
}
.button-resume:hover {
 background-color: lightenedColorhsl(207, 90%, 70%);
  color: white;
}
/* Optionally, add more styles to the image if needed */
.image-container img {
 height: auto;
 max-width: 100%;
}
.row.mb-3 {
  margin-bottom: 1rem;
}
h2 {
  font-size: 26px;
  margin-top: 30px;
}
.blue-text {
  color: #3498db; /* or any other blue color you prefer */
  font-size: 26px;
  font-weight: bold;
}
h3{
  font-size: 20px;
}
.profile {
  float: left;
  width: 35%;
  margin-left: 70px;
}
.profile p {
  font-size: 18px;
  margin-top: 40px;
}
.carousel-content {
  text-align: left;
  padding: 20px; /* Adjust padding as needed */
}
.carousel {
  border: solid #3498db; /* Add a border to the Carousel */
  border-radius: 2px; /* Optional: Add border-radius for rounded corners */
  overflow: hidden; /* Optional: Hide the overflowing content */
}
.skills {
  float: right;
  width: 50%;
  margin-right: 40px;
}

.skills-container {
  text-align: center;
  margin-top: 40px;
}

.skills-list {
  list-style: none;
  padding: 0;
  transform: translateY(20px); /* Move the skills list down initially */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.skills-list.animate {
  opacity: 1;
  transform: translateY(0);
}
.skill-item {
  margin-bottom: 15px;
}

.skill-name {
  display: inline-block;
  width: 500px;
  color: #e0e0e0;
  font-size: 17px;
  text-align: left;
  margin-left: 30px;
}
.skill-bar {
  display: inline-block;
  width: 500px;
  height: 30px;
  background-color: #e0e0e0;
  margin-left: 10px;
}

.skill-progress {
  height: 100%;
  background-color:#3498db;
}

.skill-percentage {
  display: inline-block;
  margin-left: 10px;
}
.submit-arrow {
  margin-left: 5px; /* Adjust the spacing between the text and arrow */
  font-size: 0px; /* Adjust the arrow size */
}
.contact-item {
  display: flex;
  margin-bottom: 25px; 
  
}

.contact-item span.info {
  margin-left: 10px;
  font-size: 17px; /* Adjust the font size as needed */
}
.social-media-icons {
  margin-bottom: 70px;
  margin-top: 40px;
}
.social-media-icons a {
  display: inline-block;
  margin-right: 10px;
  transition: opacity 0.3s ease-in-out;
}

.social-media-icons a:hover {
  opacity: 0.5; 
}
#footer {
  margin-top: 120px;
  font-size: 17px;
}

.social-media-icons svg {
  margin: 0 20px; /* Adjust margin between icons */
}

.borderstyle {
  border: solid #3498db;
  border-radius: 50em;
} 

.project:hover {
  transform: scale(1.1);
  z-index: 1; /* Ensures the hovered element is above others */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the box shadow as needed */
}
.more-projects-button {
  margin-top: 20px;
  border-radius: 0em;
  background-color:#3498db;
  color: white;
  transition: background-color 0.9s ease;
  width: 150px;
  height: 40px;
  font-size: 18px;
}
.more-projects-button :hover {
  background-color: #3498db;
  color: white;
}
#homes-section {
  height: 500px;
  padding-top: 5px; 
}
#about {
  height: 950px;
  padding-top: 105px;

}
#project {
  height: 700px;
  padding-top: 120px;
}
#contact {
  padding-top: 120px;
  height: 600px;
}
h1 {
  font-size: 33px;
  font-weight: bold;
}
.project1 {
  float: left;
  width: 30%;
  margin-left: 30px;
  margin: 0px;
}
.project2 {
  float: left;
  width: 30%;
  margin-left: 30px;
}
.project3 {
  float: left;
  width: 30%;
  margin-right: 5px;
  margin-left: 30px;
}

.home-main{
display: flex;
justify-content: space-between;
padding: 20px;
margin-top: 70px;
}
.description,.image-container{
  flex: 1;
  padding: 20px;
  text-align: left;

}
.image-container{
  text-align: center;
}
.about-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.item{
  flex: 1;
  padding: 20px;
  margin: 5px;
  text-align: left;
}
.icon-image {
  width: 40px;
  height: 40px; 
  margin-right: 20px; 
}
.item ul {
  list-style: none; 
}
.item li{
  font-size: 18px;
}
.contact-container{
display: flex;
justify-content: space-between;
padding: 20px;
}
.contact-form, .contact-info{
  flex: 2;
  padding: 20px;
  text-align: left;
}
.contact-info{
  flex: 1;
  text-align: left;
}
.contact-card {
  background-color: #fff; /* White background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  color: #333; /* Text color */
}

.contact-card .card-title {
  color: #007bff; /* Blue text color for the title */
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px; /* Add spacing between form fields */
}

.contact-form button {
  margin-top: 15px; /* Add spacing above the submit button */
}
.contact-info span.info {
  font-size: 18px;
}
.icon2-image{
  width: 42px;
  height: 42px; 
  margin-right: 20px;
}
.contact-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.contact-card:hover h2 {
  color: #3498db;
}

/* Add styles for the transition when not hovered */
.contact-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.image-container {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .button-container {
  opacity: 1;
}





